.dateInput{
    height: 35px;
    width: 167px;
    border: 1px solid black;
    border-radius: 4px; 
    box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.1);
}

.annexureSelect{
    height: 35px;
    width: 300px;
    margin-left: 7px;
    border: 1px solid black;
    border-radius: 4px; 
    box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.1);
}
.acFrom{
    height: 35px;
    width: 300px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 4px; 
    box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.1);
}
.filterSelect{
    height: 35px;
    width: 300px;
    margin-left: 35px;
    border: 1px solid black;
    border-radius: 4px; 
    box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.1);
}   