.GpRatio{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    margin-left: 14.5%;
    font-weight: bold;
    padding: 5px;
}
.custom-datepickerFrom{
    width: 150px;
    border: 1px solid black;
    height: 30px;
    font-weight: bold;
    margin-left: 8px;
    padding: 5px;
  }
  .custom-datepickerUpto{
    width: 150px;
    border: 1px solid black;
    height: 30px;
    font-weight: bold;
    margin-left: 42%;
    padding: 5px;
  }