text {
  font-weight: bold;
}
.containerTDSvoucher{
  display: flex;
  flex-direction: row;
}

.left{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}
.Right{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 22px;
}

.TdsBlock{
display: flex;
flex-direction: column;
margin-top: 20px;
}

.datepickerVoucher{
  border: 1px solid #858282;;
  padding: 5px;
  font-size: 17px;
  outline: none;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.datepickerVoucher:focus{
  background-color: rgb(198, 199, 199);
  border-bottom: 3px solid rgb(82, 82, 189);
}

.erp-input {
  position: relative;
  width: 225px;
}

.erp-label {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  pointer-events: none;
}

/* YOUR FIELD STYLE */
.custom-style {
  border: 1px solid rgb(158, 156, 156);
  
  font-size: 17px;
  font-weight: bold;
  width: 225px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  background: white;
}

/* Disabled look */
.erp-input.disabled .custom-style {
  background-color: white;
}

.erp-input:focus-within .custom-style {
  background-color: rgb(198, 199, 199);
  border-bottom: 3px solid rgb(82, 82, 189);
}

.custom-datepickerTDS {
  border: 1px solid rgb(158, 156, 156);
  padding: 5px;
  font-size: 17px;
  outline: none;
  font-weight: bold;
  width: 225px;
  height: 45px;
  border-radius: 5px;
}
.custom-datepickerTDS:focus{
  background-color: rgb(198, 199, 199);
  border-bottom: 3px solid rgb(82, 82, 189);
}

.custom-datepickerInvo {
  border: 1px solid black;
  padding: 5px;
  font-size: 17px;
  outline: none;
  font-weight: bold;
  width: 298px;
  height: 30px;
  margin-left: 4px;
  border-radius: 5px;
}
.custom-datepickerDepo {
  border: 1px solid black;
  padding: 5px;
  font-size: 17px;
  outline: none;
  font-weight: bold;
  width: 110px;
  height: 30px;
  border-radius: 5px;
}
.Fields{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}